<head>
    <th:block th:replace="~{/fragments/head :: head}"></th:block>
</head>

<body>
    <th:block th:replace="~{/fragments/user-nav :: navbar}"></th:block>


    <div class="alert alert-success alert-dismissible fade show" th:if="${successMessage}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <span th:text="${successMessage}" class="successMessage"></span>
    </div>
    <section>
        <div class="container" style="width: 80%; padding-bottom: 30px;">
            <h2>List of Products</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Image</th>
                        <th style="width: 10%;">Title</th>
                        <th style="width: 10%;">Description</th>
                        <th style="width: 5%;">Value</th>
                        <th style="width: 10%;">Posted By</th>
                        <th style="width: 10%;">Contact</th>
                        <th style="width: 5%;">Created At</th>
                        <th style="width: 5%;">Last Update</th>
                        <th style="width: 10%;"></th>
                        <th style="width: 10%;"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="produto : ${produtos}">
                        <td><img th:src="${produto.img}" alt="Product Image" width="100" height="100" /></td>
                        <td th:text="${produto.title}"></td>
                        <td th:text="${#strings.abbreviate(produto.description, 50)}"></td>
                        <td th:text="${produto.price}"></td>
                        <td th:text="${produto.author}"></td> <!-- Display the author who posted the product -->
                        <td th:text="${produto.contact}"></td>
                        <td th:text="${#temporals.format(produto.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${#temporals.format(produto.updatedAt, 'dd/MM/yyyy HH:mm')}"></td>

                        <td>
                            <span><a class="btn btn-primary" th:href="@{/user/posts/edit/{id}(id=${produto.codigo})}" role="button">Edit</a>
                            </span>
                            <span><a class="btn btn-danger" th:href="@{/user/posts/deletepost/{id}(id=${produto.codigo})}"
                                    role="button" onclick="return confirm('Are you sure you want to delete this product?');">Delete</a></span>
                        </td>

        </div>
    </section>
    <script th:inline="javascript">
        function deleteProduct(button) {
            var productId = button.getAttribute("data-productid");
            if (confirm("Are you sure you want to delete this product?")) {
                // Redirect to the delete endpoint
                window.location.href = '/user/posts/deletepost/' + productId;
            }
        }
    </script>
    

</body>

</html>