<head>
    <th:block th:replace="~{/fragments/head :: head}"></th:block>
</head>

<body>
    <th:block th:replace="~{/fragments/user-nav :: navbar}"></th:block>


    <div th:if="${successMessage}" class="success-message alert-success">
        <p th:text="${successMessage}"></p>
    </div>
    <section>
        <div class="container" style="width: 80%; padding-bottom: 30px;">
            <h2>List of Products</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Posted By</th>
                        <th>Contact</th>
                        <th>Created At</th>
                        <th>Last Update</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="produto : ${produtos}">
                        <td><img th:src="${produto.img}" alt="Product Image" width="100" height="100" /></td>
                        <td th:text="${produto.title}"></td>
                        <td th:text="${produto.description}"></td>
                        <td th:text="${produto.price}"></td>
                        <td th:text="${produto.author}"></td> <!-- Display the author who posted the product -->
                        <td th:text="${produto.contact}"></td>
                        <td th:text="${#temporals.format(produto.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${#temporals.format(produto.updatedAt, 'dd/MM/yyyy HH:mm')}"></td>

                        <td>
                            <span><a class="btn btn-primary" th:href="@{/admin/editpost/{id}(id=${produto.codigo})}"
                                    role="button">Edit</a></span>
                            <span><a class="btn btn-danger" th:href="@{/admin/posts/deletepost/{id}(id=${produto.codigo})}"
                                    role="button" onclick="return confirm('Are you sure you want to delete this product?');">Delete</a></span>
                        </td>

        </div>
    </section>
    <script th:inline="javascript">
        function deleteProduct(button) {
            var productId = button.getAttribute("data-productid");
            if (confirm("Are you sure you want to delete this product?")) {
                // Redirect to the delete endpoint
                window.location.href = '/admin/posts/deletepost/' + productId;
            }
        }
    </script>
    

</body>

</html>