publica-nav.html
1005 B
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
		<nav class="navbar bg-body-tertiary" id="navbar" name="navbar" th:fragment="navbar" >
			<form class="container-fluid justify-content-start">
			  <div class="container-fluid justify-content-end">
			  <a class="btn btn-outline-success me-2" href="/user">Home</a>
			  <a class="btn btn-sm btn-outline-secondary" href="/user/newpost">Add Post</a>
			  <a class="btn btn-sm btn-outline-secondary" href="/user/listposts">Posts</a>
			  <a class="btn btn-sm btn-outline-secondary" href="">Reports</a>
			  <a class="btn btn-sm btn-outline-secondary" href="">Maintanence</a>
			  <a class="btn btn-sm btn-outline-secondary" href="">Finance</a>
			  <a class="btn btn-sm btn-outline-secondary" href="">Edit Profile</a>

			</div>
			</form>
		  </nav>

</body>
</html>