<th:block th:replace="~{/fragments/head :: head}"></th:block>

<style>
    .mensagem {
        color: red;
    }
</style>
</head>

<body>
    <th:block th:replace="~{/fragments/public-nav :: navbar}"></th:block>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="alert alert-danger alert-dismissible fade show" th:if="${param.error}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span>Invalid Login or Password</span>
                </div>

                <form th:action="@{/login}" method="post">

                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label">User:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" name="username">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label">Password:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" name="password">
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Login" />
                </form>
                <div>
                    
                        <span>Forgot password?</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>