<th:block th:replace="~{/fragments/head :: head}"></th:block>

<style>
    .mensagem {
        color: red;
    }
</style>
</head>

<body>
    <th:block th:replace="~{/fragments/public-nav :: navbar}"></th:block>
        <div class="container">
            <div class="wrapper" style="max-width: 400px; padding: 30px 38px 66px; margin: 0 auto; background-color: #eee; text-align: center; margin-top: 80px; margin-bottom: 20px;">
                <div class="alert alert-danger alert-dismissible fade show" th:if="${param.error}" style="text-align: center;">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span>Invalid Login or Password</span>
                </div>
                <div style="text-align: center; margin-bottom: 30px;">Welcome back</div>
                <form th:action="@{/login}" method="post" style="text-align: center;">
                    <div style="margin-bottom: 10px;">
                        <label style="display: block;">Email:</label>
                        <input type="text" name="username" style="position: relative; font-size: 16px; height: auto; padding: 10px;" required>
                    </div>
    
                    <div style="margin-bottom: 10px;">
                        <label style="display: block;">Password:</label>
                        <input type="password" name="password" style="position: relative; font-size: 16px; height: auto; padding: 10px;" required>
                    </div>
    
                    <input class="btn btn-primary" type="submit" value="Login" style="margin-top: 20px;">
    
                    <p style="font-size: 12px; margin-top: 20px;">Forgot password?</p>
                </form>
            </div>
        </div>
    </body>
    </html>
    